{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# TODO: add www.evab.ch
evab.ch {
  reverse_proxy /api* bb_db:5984
  root * /html
  file_server
}

api.evab.ch {
  reverse_proxy * {
    to bb_db:5984
    header_down Access-Control-Allow-Origin *
  }
}
