{
  email alex.barbalex@gmail.com
  acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

artenliste.ch, www.artenliste.ch {
  # try proxying these - they should not be cross-domain
  reverse_proxy /api* localhost:5984
  root * /html
  file_server
}

#api.artenliste.ch {
#  reverse_proxy * localhost:5984
#}
