{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  debug
}

blue-borders.ch, www.blue-borders.ch {
  root * /html
  encode zstd gzip
  file_server
  
  reverse_proxy /bb/* {
    to bb_db:5984
  }
  
  # need to add this because it us used by couchdb when logging in
  reverse_proxy /_session {
    to bb_db:5984
  }
}

api.blue-borders.ch {
  reverse_proxy * bb_db:5984 {
    header_down Access-Control-Allow-Origin https://blue-borders.ch
    header_down Access-Control-Allow-Credentials true
    header_down Access-Control-Allow-Methods: OPTIONS,DELETE,GET,HEAD,POST,PUT
    header_down max_age 3600
    header_down headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    header_up headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
  }
}

mediterranean-migration.com, www.mediterranean-migration.com {
  root * /html
  encode zstd gzip
  file_server
  
  reverse_proxy /bb/* {
    to bb_db:5984
  }
  
  # need to add this because it us used by couchdb when logging in
  reverse_proxy /_session {
    to bb_db:5984
  }
}

api.mediterranean-migration.com {
  reverse_proxy * bb_db:5984 {
    header_down Access-Control-Allow-Origin https://mediterranean-migration.com
    header_down Access-Control-Allow-Credentials true
    header_down Access-Control-Allow-Methods: OPTIONS,DELETE,GET,HEAD,POST,PUT
    header_down max_age 3600
    header_down headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    header_up headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    #curl -X PUT $HOST/_config/cors/headers -d '"accept, authorization, content-type, origin, referer, x-csrf-token"'
  }
}
