# https://github.com/caddyserver/caddy-docker
{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
  #debug
}

# blue-borders.ch, www.blue-borders.ch {
#   root * /html
#   encode zstd gzip
#   file_server
  
#   reverse_proxy /bb/* {
#     # use: uri strip_prefix bb ?
#     # see: https://caddy.community/t/v2-reverse-proxy-please-add-cors-example-to-the-docs/7349/22?u=alexander_gabriel
#     to bb_db:5984
#   }
  
#   # need to add this because it us used by couchdb when logging in
#   reverse_proxy /_session {
#     to bb_db:5984
#   }
# }

api.blue-borders.ch {
  # help for cors: https://caddy.community/t/v2-cors-problems-when-reverse-proxying-to-ssh-tunnel/7428/10
  header {
    origin https://blue-borders.ch
    methods OPTIONS, DELETE, GET, HEAD, POST, PUT
    allow_credentials true
  }
  reverse_proxy * bb_db:5984 {
    header_down Access-Control-Allow-Origin https://blue-borders.ch
    header_down Access-Control-Allow-Credentials true
    header_down Access-Control-Allow-Methods "OPTIONS DELETE GET HEAD POST PUT"
    header_down max_age 3600
    header_down headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    header_up headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
  }
}

# mediterranean-migration.com, www.mediterranean-migration.com {
#   root * /html
#   encode zstd gzip
#   file_server
  
#   reverse_proxy /bb/* {
#     to bb_db:5984
#   }
  
#   # need to add this because it us used by couchdb when logging in
#   reverse_proxy /_session {
#     to bb_db:5984
#   }
# }

api.mediterranean-migration.com {
  # help for cors: https://caddy.community/t/v2-cors-problems-when-reverse-proxying-to-ssh-tunnel/7428/10
  header {
    origin https://mediterranean-migration.com
    methods OPTIONS, DELETE, GET, HEAD, POST, PUT
    allow_credentials true
  }
  reverse_proxy * bb_db:5984 {
    header_down Access-Control-Allow-Origin https://mediterranean-migration.com
    header_down Access-Control-Allow-Credentials true
    header_down Access-Control-Allow-Methods "OPTIONS DELETE GET HEAD POST PUT"
    header_down max_age 3600
    header_down headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    header_up headers X-Couch-Id,X-Couch-Rev,accept,authorization,content-type,origin,referer,x-csrf-token
    #curl -X PUT $HOST/_config/cors/headers -d '"accept, authorization, content-type, origin, referer, x-csrf-token"'
  }
}
