{
  email alex.barbalex@gmail.com
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

evab.ch, www.evab.ch {
  root * /html
  encode gzip
  file_server
}

api.evab.ch {
  reverse_proxy * {
    to bb_db:5984
    header_down Access-Control-Allow-Origin *
  }
}
