@import '../node_modules/react-bootstrap-daterangepicker/css/daterangepicker.css';
@import '../node_modules/gemini-scrollbar/gemini-scrollbar.css';

body {
  margin-top: 52px;
  hyphens: auto;
}

p,
div {
  font-size: medium;
}

a,
a:link {
  cursor: pointer;
}

.no-break-inside {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: rgba(0, 109, 255, 0.05) !important;
}

.year > .panel-heading,
.category > .panel-heading {
  background-image: url('./images/oceanDark.jpg');
}

.year.not-active > .panel-heading,
.category.not-active > .panel-heading {
  border-radius: 3px;
}

.year > .panel-heading a,
.category > .panel-heading a {
  color: #edf4f8;
  font-weight: bold;
}

.col400,
.col500 {
  column-count: 1;
  column-gap: 20px;
}

/*--------------------------------*\
    3. #Events
\*--------------------------------*/
.eventsTable-body {
  overflow-x: visible;
  overflow-y: auto;
  height: calc(100vh - 94px);
  margin-top: 77px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.eventsTable-header,
.eventsTable-body {
  width: 100%;
}
.eventsTable-header {
  font-weight: bold;
}

.eventsTable-header-cell,
.eventsTable-body-cell {
  padding: 5px;
  flex: 1;
}

.eventsTable-header-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.eventsTable-header-row,
.eventsTable-body-row {
  display: flex;
}

.eventsTable-body-row {
  border-top: 1px solid #ececec !important;
  border-radius: 4px;
}
.eventsTable-body-row:hover {
  background-color: #f5f5f5;
}
.eventsTable-body-monthRow {
  background-image: url('./images/oceanDark.jpg');
  color: #edf4f8;
  font-weight: bold;
}
.eventsTable-body-monthRow .eventsTable-body-cell {
  padding-left: 10px;
}

.eventsTable-cell-day {
  width: 60px;
  max-width: 60px;
  padding-right: 20px;
  text-align: right;
}
.eventsTable-cell-migration,
.eventsTable-cell-politics {
  width: 50%;
  max-width: 50%;
  word-wrap: break-word;
}
.eventsTable-cell-migration {
  padding-right: 10px;
}
.eventsTable-cell-politics {
  padding-left: 10px;
}
.eventsTable-body-row ul {
  padding-left: 10px;
  margin-bottom: 0;
}
.eventsTable-body-row ul li {
  margin-bottom: 5px;
  margin-top: 5px;
}
.eventsTable-body-row ul li + li {
  margin-top: 10px;
}
.eventsTable-body-row p {
  margin-bottom: 0;
}

/* make sure glyphicon and link text are on same line */
.eventsTable-body-row a {
  white-space: nowrap;
}
/**
 * unfortunately content does not seem to
 * come over correctly in object literal
 * so need to keep this here
 */
.events p.event-weather:before {
  font-family: 'Glyphicons Halflings';
  content: '\2601';
  font-size: 1.4em;
  position: absolute;
  top: -3px;
  left: -26px;
}
.events p.event-statistics:before,
.events p.event-monthlyStatistics:before {
  font-family: 'Glyphicons Halflings';
  content: '\e185';
  font-size: 1em;
  position: absolute;
  top: -2px;
  left: -23px;
}
.events p.event-victims:before {
  font-family: 'Glyphicons Halflings';
  content: '\e101';
  font-size: 1.3em;
  position: absolute;
  top: -4px;
  left: -26px;
}
.events p.event-highlighted:before {
  font-family: 'Glyphicons Halflings';
  content: '\e006';
  font-size: 1.3em;
  position: absolute;
  top: -5px;
  left: -23px;
}

a.typeahead-token-close {
  margin-left: 5px;
}
.typeahead-selector .list-group-item:focus,
.typeahead-selector .list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

h4.modal-title {
  font-weight: bold;
  font-size: 1.3em;
}

/* validate div after react bootstrap component */
.validateDivAfterRBC {
  color: #a94442;
  margin-top: -15px;
  margin-bottom: 5px;
}

/*--------------------------------*\
    3. #Monthly Events
\*--------------------------------*/

/* TODO: import tinymce.css instead
   add other css for editor before */
.monthlyEvent table.new {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.monthlyEvent .new thead {
  background-color: rgb(250, 191, 143);
}
.monthlyEvent .new tr,
.monthlyEvent .new th,
.monthlyEvent .new td {
  border: 1px solid black;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.monthlyEvent .new h1,
.monthlyEvent .new h2,
.monthlyEvent .new p {
  text-align: center;
}

.monthlyEvent .new h1 {
  font-size: 1em;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.monthlyEvent .new h1 + h1 {
  margin-top: -15px;
}
.monthlyEvent .new h2 {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}
.monthlyEvent .new p {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.monthlyEvent .new p.bold {
  font-weight: bold;
}

/*--------------------------------*\
       #archive
       #tables
\*--------------------------------*/
table > thead > tr > th {
  border-bottom: 0 solid #dddddd !important;
  line-height: .3;
}
table > thead > tr.totals > td {
  border-top: 0;
  border-bottom: 2px solid #dddddd !important;
  line-height: .6;
  color: #9c9c9c;
}

/*--------------------------------*\
       #tinymce code editor
\*--------------------------------*/

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in {
  left: 2vw !important;
  top: 2vh !important;
  height: 95vh !important;
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body {
  height: calc(95vh - 89px) !important;
}

.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-container-body,
.mce-container.mce-panel.mce-floatpanel.mce-window.mce-in .mce-foot {
  width: 96vw !important;
}

@media (min-width 786px) {
  .col400 {
    column-count: 2;
  }
  .modal-lg.modal-dialog {
    width: 700px;
  }
}

@media (min-width 992px) {
  .col400 {
    column-count: 3;
  }
  .col500 {
    column-count: 2;
  }
  .modal-lg.modal-dialog {
    width: 950px;
  }
}

@media (min-width 1100px) {
  .modal-lg.modal-dialog {
    width: 1000px;
  }
}

@media (min-width 1300px) {
  .modal-lg.modal-dialog {
    width: 1100px;
  }
}

/* formally tynimce.css */
.monthlyEvent table.new {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.monthlyEvent .new thead {
  background-color: rgb(250, 191, 143);
}
.monthlyEvent .new tr,
.monthlyEvent .new th,
.monthlyEvent .new td {
  border: 1px solid black;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.monthlyEvent .new h1,
.monthlyEvent .new h2,
.monthlyEvent .new p {
  text-align: center;
}
.monthlyEvent .new h1 {
  font-size: 1em;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.monthlyEvent .new h1 + h1 {
  margin-top: -15px;
}
.monthlyEvent .new h2 {
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 10px;
}
.monthlyEvent .new p {
  font-size: 0.8em;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.monthlyEvent .new p.bold {
  font-weight: bold;
}
